volumes:
  postgres_data:

services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=website
      - POSTGRES_USER=backend
      - POSTGRES_PASSWORD=backend
    ports:
      - "5432:5432"

  backend:
    build: .
    command: python manage.py migrate && python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./src:/code
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_DB=website
      - POSTGRES_USER=backend
      - POSTGRES_PASSWORD=backend
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
    depends_on:
      - db
